*{
 background-color: #16819c; /* Elegir su color favorito */
}
h1{
    color:rgb(0, 2, 2);
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
} 

h2{
    color:rgb(143, 5, 5);
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
} 